<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS; Initial Catalog=KhoaLuan; User ID=sa; Password=sa2012 " />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha "/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>